[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-fallingblocks
Exec=harbour-fallingblocks
Name=harbour-fallingblocks
# translation example:
# your app name in German locale (de)
Name[de]=harbour-fallingblocks

