[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-fallingblocks
Exec=harbour-fallingblocks
Name=Falling Blocks
# translation example:
# your app name in German locale (de)
Name[de]=Falling Blocks
Name[ja]=ファリング・ブロクス

